.layer_slider {
  .why-walk-that-path  {
    font-family: 'santana-blackregular';
    font-weight: bold; 
    
    .text {
      left: 0;
      color: #1dc3c5; 
      font-size: 30px;
    }

    .punchline {
      left: 0;
      color: #ef007c; 
      font-size: 40px;
    }
  }
}
