- content_for :page_title do
  Portfolios

#portfolio-container.container
  .row
    - @portfolios.each do |portfolio|
      .col-md-4
        .view.view-tenth
          %img.img-responsive{src:"#{image_url("/portfolios/#{portfolio.image}")}"}
          .mask
            %h2= portfolio.name
            %p= portfolio.description.html_safe
