.layer_slider {

  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }

  font-family: 'santana-blackregular';
  font-weight: bold; 

  .real-feedback {
    .build-text {
      color: #fff;
      font-size: 50px;
      @media screen and (max-width: $screen-sm-max) {
        font-size: 30px;
      }
    }

    .think-text {
      color: #a6e4e5;
      font-size: 40px;
      font-style: italic;
      @media screen and (max-width: $screen-sm-max) {
        font-size: 30px;
      }
    }

    .strikethrough {
      border-bottom: 4px solid #a6e4e5;
      width: 250px;
    }
    
    .users-text {
      color: #ebff46;
      font-size: 40px;
      @media screen and (max-width: $screen-sm-max) {
        font-size: 30px;
      }
    }
  }
    
  .why-walk-that-path  {
    .text {
      left: 0;
      color: #1dc3c5; 
      font-size: 30px;
      
      @media screen and (max-width: $screen-sm-max) {
        font-size: 24px;
      }
    }

    .punchline {
      left: 0;
      color: #ef007c; 
      font-size: 40px;
      
      @media screen and (max-width: $screen-sm-max) {
        font-size: 28px;
      }
    }
  }

  .freedom-software {
    font-size: 35px;

    .punchline {
      color: #fff;
      font-size: 50px;
      line-height: 80%;
    }

    .test {
      color: #ef007c;
    }

    .adapt {
      color: #b5ff02;
    }

    .evolve {
      color: #1dc3c5;
    }
  }
}
