.copyright
  .container
    .row
      .col-md-9
        %p.copyright-space
          != "#{Date.today.year} &copy; Neember Agile Coding - "
          All rights reserved
          %i (and all wrongs reversed!)
      .col-md-3.pull-right
        %p.copyright-space.pull-right
          %a{href: "/privacy-policy"} Privacy Policy
          |
          %a{href: "/disclaimer"} Disclaimer
