.copyright
  .container
    .row
      .col-md-9
        %p.copyright-space
          2014 © Neember. ALL Rights Reserved.
      .col-md-3
        %p.copyright-space
          %a{href: "/privacy-policy"} Privacy Policy
          |
          %a{href: "/disclaimer"} Terms of Service
