%ul{class:'nav nav-pills'}
  %li
    %a{href:'/'}
      Homepage
  %li
    %a{href:'/who-we-are'}
      Who We Are
  %li
    %a{href:'/portfolios'}
      Portfolios
  %li
    %a{href:'/contacts/new'}
      Contact
