.layer_slider
  #layerslider-container-fw
    #layerslider{:style => "width: 100%; height: 500px; margin: 0px auto; "}
      / First Slide
      .ls-layer{:style => "slidedirection: right; transition2d: 24,25,27,28; "}
        %img.ls-bg{:alt => "Slide background", :src => "/img/sliders/layer/bg1.jpg"}
          %img.ls-s-1{:alt => "Slider Image", :src => "/img/mockup/iphone1.png", :style => " top:110px; left: 240px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 1500; "}
            %img.ls-s-1{:alt => "Slider image", :src => "/img/mockup/iphone.png", :style => " top:60px; left: 40px; slidedirection : left; slideoutdirection : bottom; durationin : 2500; durationout : 2500; "}
              %span.ls-s-1{:style => " text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500; "}
                Fully Responsive
                %br
                  Bootstrap 3 Template
              %a.btn-u.btn-u-orange.ls-s1{:href => "#", :style => " padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
                Download Now
      / End First Slide
      / Second Slide
      .ls-layer{:style => "slidedirection: top; "}
        %img.ls-bg{:alt => "Slide background", :src => "/img/bg/5.jpg"}
          %i.icon-chevron-sign-right.ls-s-1{:style => " color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "}
          %span.ls-s-2{:style => " color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; "}
            Fully Responsive and Easy to Customize
          %i.icon-chevron-sign-right.ls-s-1{:style => " color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "}
          %span.ls-s-2{:style => " color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; "}
            Revolution and Layer Slider Included
          %i.icon-chevron-sign-right.ls-s-1{:style => " color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
          %span.ls-s-2{:style => " color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; "}
            1000+ Glyphicons Pro and Font Awesome Icons
          %i.icon-chevron-sign-right.ls-s-1{:style => " color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "}
          %span.ls-s-2{:style => " color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; "}
            Revolution and Layer Slider Included
          %i.icon-chevron-sign-right.ls-s-1{:style => " color: #fff; font-size: 24px; top:270px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "}
          %span.ls-s-2{:style => " color: #fff; font-weight: 200; font-size: 22px; top:270px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; "}
            60+ Template Pages and 20+ Plugins Included
          %a.btn-u.btn-u-blue.ls-s1{:href => "#", :style => " padding: 9px 20px; font-size:25px; top:340px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; "}
            Twitter Bootstrap 3
          %img.ls-s-1{:alt => "Slider Image", :src => "/img/mockup/iphone1.png", :style => " top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; "}
      / End Second Slide
      / Third Slide
      .ls-layer{:style => "slidedirection: right; transition2d: 92,93,105; "}
        %img.ls-bg{:alt => "Slide background", :src => "/img/sliders/layer/bg2.jpg"}
          %span.ls-s-1{:style => " color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; "}
            Unify is Fully Responsive
            %br
              Twitter Bootstrap 3 Template
          %a.btn-u.btn-u-green.ls-s-1{:href => "#", :style => " padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; "}
            Find Out More
          %img.ls-s-1{:alt => "Slider Image", :src => "/img/mockup/iphone.png", :style => " top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; "}
      / End Third Slide
/ /layer_slider
:javascript
  $(document).ready(function(){
    $('#layerslider').layerSlider({
        skinsPath : '/assets/layer_slider/skins/',
        skin : 'fullwidth',
        thumbnailNavigation : 'hover',
        hoverPrevNext : true,
        responsive : true,
        responsiveUnder : 960,
        sublayerContainer : 960
    });
  });     
