.layer_slider
  #layerslider-container-fw
    #layerslider{:style => "width: 100%; height: 500px; margin: 0px auto; "}
      / Why walk that path slide
      .ls-layer.why-walk-that-path{:style => "slidedirection: top;slidedelay:5000;"}
        %img.ls-bg{:alt => "Slide background", :src => "/sliders/why-walk-that-path-bkgrd.png"}
        %span.text.ls-s-2{:style=>"top:100px;slidedirection:top;slideoutdirection:bottom;durationin:1500;durationout:1500;"}
          PROJECTS FAIL
        %span.text.ls-s-2{:style=>"top:140px;slidedirection:top;slideoutdirection:bottom;durationin:1500;durationout:1500;"}
          BECAUSE TESTING & FEEDBACKS
        %span.text.ls-s-2{:style=>"top:180px;slidedirection:top;slideoutdirection:bottom;durationin:1500;durationout:1500;"}
          ARE AT THE END OF DEVELOPMENT
        %span.punchline.ls-s-2{:style=>"top:250px;slidedirection:right;slideoutdirection:right;durationin:3500;durationout:3500;"}
          WHY WALK THAT PATH?
        %img.think-different.ls-s-1{:alt=>"Why Walk That Path",:src=>"/sliders/think-different.png",:style=>"top:30px;left:600px;slidedirection:right;slideoutdirection:bottom;durationin:3500;durationout:1000;"}
      / End Why walk that path slide
      / Third Slide
      .ls-layer{:style => "slidedirection: right; transition2d: 92,93,105; "}
        %img.ls-bg{:alt => "Slide background", :src => "/img/sliders/layer/bg2.jpg"}
          %span.ls-s-1{:style => " color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; "}
            Unify is Fully Responsive
            %br
              Twitter Bootstrap 3 Template
          %a.btn-u.btn-u-green.ls-s-1{:href => "#", :style => " padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; "}
            Find Out More
          %img.ls-s-1{:alt => "Slider Image", :src => "/img/mockup/iphone.png", :style => " top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; "}
      / End Third Slide
/ /layer_slider
:javascript
  $(document).ready(function(){
    $('#layerslider').layerSlider({
        skinsPath : '/assets/layer_slider/skins/',
        skin : 'fullwidth',
        thumbnailNavigation : 'hover',
        hoverPrevNext : true,
        responsive : true,
        responsiveUnder : 960,
        sublayerContainer : 960
    });
  });     
