#home-container
  .rows
    %h1 WHAT WE DO
    %p With Ruby on Rails, we give you endless possibilities for your websites and web applications.It is so robust that you can have productive software. This is coupled with Test driven development to ensure we give you the best result. Ruby on Rails favors convention over configuration and this means that our development team has a lot of choices with sensible defaults to work with to give you the very best of what you need.

  .rows
    .col-md-4
      %h2 Front end development
      %img{src:"#{image_url('demotext.jpg')}", class:'col-md-10'}
      .clearfix
      %p Our ever hardworking and up to date development team delivers unequaled front end development which is clean, intuitive and responsive. We work with Angular.js, Backbone.js, Ember.js, and also use full stacks like Express.js, Meteor, and etcetera.

    .col-md-4
      %h2 Web Applications
      %img{src:"#{image_url('demotext.jpg')}", class:'col-md-10'}
      .clearfix
      %p We develop and deliver the best web applications and we use agile development method to ensure that the software developed suits our clients’ needs.

    .col-md-4
      %h2 Front end development
      %img{src:"#{image_url('demotext.jpg')}", class:'col-md-10'}
      .clearfix
      %p We develop cutting edge mobile application that modular and scalable using the Agile and Lean Product development practice. We also develop and offer website adjustments for mobile devices. Just say it and it’s done.

  .rows
    %h1 Welcome to Neember
    %p Neember focus on building complex full management systems like ERP, web applications and mobile applications.
    %p We have our specialty on the Ruby on Rails framework and Agile development. We believe in testing our software severally in quick succession during the development stage so as to get feedback as fast as possible.
