- content_for :page_title do
  Our Approach

#ecommerce-container.container
  .row
    .headline
      %h2 Benefit Driven Approach

    %p Benefit driven approach requires you and us involved in the project to focus only on things that has business value and is what the users really needs. The iterations involved in the agile approach make it easy for you and us to differentiate is the features have tremendous or not much value at all. In the traditional approach the developers, programmers and testers would only know about the unnecessary addition of a particular feature in a software after it has been completed and all processes have completed. This is disappointing as much effort and energy has already been wasted on the unnecessary aspect of the software.
    %p Feedbacks are given continuously and we will keep extend your ideas with our extensive technical and experience to harden it into a practical and viable product. The steps involved in the completion of the software become lean as the time passes. Lastly, all the processes running at final stages are fully focused on developing the features and aspects that are actually needed on the software or an application and leave those good to have features to be developed at the end.

  .row
    .headline
      %h2 Scoping

    %p Scoping is the name of the process in which it is outlined and defined what your project (software) will accomplish after its completion. Traditional methods defined the scope of the project once and then maximum efforts were made to complete the project without making any changes in the scope. It seems ironic that in this traditional method of project management the changes in scope for avoided as much as possible. 
    %p The biggest aspect that makes Agile project different from traditional methods is how you look at the change and deal with it. Furthermore, there is a big difference in documentation as well. User stories are documented in Agile development as supporting documents of the scoping process. If new requirements are introduced or a user story is to be excluded from the strategy, you always know that you have spent only a little time working on it when you are going with Agile strategy.

  .row
    .headline
      %h2 Interface And Interaction (UI and UX)

    %p User experience and user interface are the primary concerns for any project that is developed today.  We look at the user interface from all possible angles based on what is required by modern users. We must consider the users today, are not only the computer users but also those who are using the mobile devices such as tablets, smartphones, laptops and notebooks
    %p When we start with your project, we will quickly prototype the user interface and start developing through iterations. Your project should be a constant improvement machine where user feedback is continuously obtained to make continuous change. We believe the faster you get your feedbacks, the faster you can make changes, the faster we can push your web application or mobile application to market.

  .row
    .headline
      %h2 Development

    %p The development phase is the phase where your ideas are being brought to life. Development through Neember requires you and us to come in close contact with each other so even the slightest information about the software and its progress can be communicated effectively. We will constantly remain in contact with you and continue to update you with the latest progress on the development. This is done through small releases in order to obtain feedback from users and thus we will be able to develop what the users really need.
    %p Video conferencing, constant releases and cloud services are the latest technologies and methods that guarantee the successful completion of the project. The quick releases are there to get a feedback from the owner of the project and end users and these feedbacks are closely viewed through iterations.

  .row
    .headline
      %h2 What Happens In Iteration?

    %p It is a mistake to think there will be no changes to the requirements after a project is scoped. Many people think that you will be able to get 100% of all your requirements upfront. However when your project is being developed, new requirements are discovered and thus change is inevitable, and we embrace it. The important thing to understand here is that the product is never considered complete since the user requirements will continue to change with time. That’s not the case with old methods of developing softwares and applications. .
    %p Developing with Neember, any changes in scope are welcomed. We believe your web and mobile applications are brought forward in the form of quick releases whereas changes are made into the software based on the feedbacks in the form of iterations.  
