#privacy-policy-container
  .breadcrumbs.margin-bottom-40
    .container
      %h1.pull-left PRIVACY POLICY
      %ul.pull-right.breadcrumb
        %li
          %a{href: "/"} Home
        %li.active Privacy Policy

  .container
    .row
      %p Futureworkz respects the privacy of every individual who visits our websites. This privacy statement provides notice of our information collection practices and of the ways in which your information may be used.

    .row
      .headline
        %h2 Information Collection and Use
      %p
        %ul.list-unstyled
          %li
            %i.icon-ok.color-green Futureworkz collect personally identifiable information for the sole purpose of registering a client for our services.
          %li
            %i.icon-ok.color-green Futureworkz are the sole owner of the personally identifiable information collected on this site.
          %li
            %i.icon-ok.color-green Futureworkz will not disclose, share, transfer, sell or rent personally identifiable information to any third party or partners.
          %li
            %i.icon-ok.color-green Futureworkz will not display or make publicly available the personally identifiable information collected.

    .row
      .headline
        %h2 Links
      %p This Futureworkz site contains links to other sites. Please be aware that we are not responsible for the privacy practices of other sites. This privacy policy applies solely to information collected by this website.

    .row
      .headline
        %h2 Special Promotion
      %p Clients will occasionally receive email on special promotions we hold. Clients may opt-out of receiving these communications by "unsubscribing" through a link that will be present at the end of such communications.

    .row
      .headline
        %h2 Updating Personal Information
      %p If your personally identifiable information changes, or if you no longer desire our service, you may correct, update or request for your personal data to be removed by emailing our support team.
