- content_for :page_title do
  Privacy Policy

#privacy-policy-container
  .container
    .row
      .col-md-12
        %p Neember respects the privacy of every individual who visits our websites. This privacy statement provides notice of our information collection practices and of the ways in which your information may be used.

    .row
      .col-md-12
        .headline
          %h2 Information Collection and Use
        %p
          %ul
            %li Neember collect personally identifiable information for the sole purpose of registering a client for our services.
            %li Neember are the sole owner of the personally identifiable information collected on this site.
            %li Neember will not disclose, share, transfer, sell or rent personally identifiable information to any third party or partners.
            %li Neember will not display or make publicly available the personally identifiable information collected.

    .row
      .col-md-12
        .headline
          %h2 Links
        %p Neember site contains links to other sites. Please be aware that we are not responsible for the privacy practices of other sites. This privacy policy applies solely to information collected by this website.

    .row
      .col-md-12
        .headline
          %h2 Special Promotion
        %p Clients will occasionally receive email on special promotions we hold. Clients may opt-out of receiving these communications by "unsubscribing" through a link that will be present at the end of such communications.

    .row
      .col-md-12
        .headline
          %h2 Updating Personal Information
        %p If your personally identifiable information changes, or if you no longer desire our service, you may correct, update or request for your personal data to be removed by emailing our support team.
