#who-we-are-container
  .who-we-are
    .headline
      %h2 WHO WE ARE
    %p! Neember is an extension of #{display_futureworkz_link} with a major focus on building complex full management systems like ERP, web applications and mobile applications.
    %p We have our specialty on the Ruby on Rails framework. We believe in testing our software severally in quick succession during the development stage so as to get feedback as fast as possible. This method enables us produce error free software that can be used by our clients and give us a very quick turnaround. We also believe in the use of Lean Product Development process with a primary focus on constant idea validation, evaluation of the features of our product, continuous improvement of the features and quick, seamless iteration.

  .why-neember
    .headline
      %h2 WHY NEEMBER

    .row.team
      .col-sm-6
        .thumbnail-style
          %h3 Relationship based engagements
          %p We have high regard for long term partnerships. The average span of our client engagement is over 24 months, the longest about 8 years and very active. We believe in offering support during hardship and becoming a partner in your success.

      .col-sm-6
        .thumbnail-style
          %h3 Test driven development
          %p Our development process stresses on test first. We make use of Test Automation and Quality Assurance which ensures that each application has zero error in every release.

      .clearfix

      .col-sm-6
        .thumbnail-style
          %h3 Agile product management
          %p Agile, lean and collaborative project is a cutting edge process which our work culture and processes are geared towards. With this, we ensure effective product scoping, very quick delivery and as a result, deliver a quick to market product.

      .col-sm-6
        .thumbnail-style
          %h3 Lean product development
          %p Here at example.com, we use the Lean product method with our focus on lean product turn out, feature evaluations, quick iterations and constant improvements.

      .clearfix

      .col-sm-6
        .thumbnail-style
          %h3 Strong Engineering traditions
          %p! We have a great team that believes in creative and solid Engineering. We started out building products for #{display_futureworkz_link} and from there have developed a highly technical team capable of understanding how management systems (ERP, e-commerce, full management systems) works and as such put it to good use in turning out the very best products.
