.headline
  %h2 Singapore Office
%iframe{width:'100%', height:'350', frameborder:'0', scrolling:'no', src:'https://maps.google.com/maps/ms?msid=214978387141265788074.0004f2464173eae79dcba&msa=0&ie=UTF8&t=m&ll=1.328776,103.741987&spn=0.007508,0.00912&z=16&output=embed'}
%ul.list-unstyled.who
  %li
    %a
      %i.icon-home
      Singapore Office<br />
      9 Jurong Town Hall Road<br />
      iHub #01-25<br />
      Singapore 609431<br />
  %li
    %a
      %i.icon-envelope-alt
      sales at neember dot com
  %li
    %a{href:'tel:+6566522446'}
      %i.icon-phone-sign
      +65-6652-2446

.headline
  %h2 Vietnam Office
%iframe{width:'100%', height:'350', frameborder:'0', scrolling:'no', src:'https://maps.google.com/maps/ms?msa=0&msid=214978387141265788074.0004f246526842b0724bd&ie=UTF8&t=m&ll=10.797876,106.705549&spn=0.007377,0.00912&z=16&output=embed'}
%ul.list-unstyled.who
  %li
    %a
      %i.icon-home
      Vietnam Office<br />
      184 /15 Điện Biên Phủ,<br />
      Ward 17, Bình Thạnh District<br />
      Ho Chi Minh<br />
  %li
    %a
      %i.icon-envelope-alt
      sales at neember dot com
  %li
    %a{href:'tel:+84838409379'}
      %i.icon-phone-sign
      +84-8-3840-9379
