- content_for :page_title do
  Contact Us

#contacts-new-container
  .container
    .row.margin-bottom-30
      .col-md-8
        %p Get in touch with our Agile developers specializing in Ruby on Rails (RoR) today.
        = render 'form'
      .col-md-4
        = render 'info'
