.container
  .row
    .headline
      %h2 Thank you!

    %p We loves enquiries and appreciate your time to write to us.
    %p We will get back to you within a business day (usually!) or the next business day.
    %p Meanwhile, have a great day ahead!

= render 'shared/ga_conversion'
