.enquiry_form_heading{
  margin-top: 20px;
}
.new_contact{
  .input{
    @extend .row;
    margin-bottom:20px;

    label.control-label{
      @extend .col-md-4;
      text-transform: capitalize;
    }

    textarea.text,
    input.string{
      @extend .col-md-4;
    }

    label.radio{
      @extend .col-md-8;
      clear:left;
    }
  }
}
