.copyright {
  font-size: 12px;
  padding: 11px 0 7px;
  background: #3e4753;
  border-top: solid 1px #777;
}

.copyright p {
  color: #dadada;
}

.copyright p.copyright-space {
  margin-top: 12px;
}

.copyright a {
  margin: 0 5px;
  color: #dadada;
}
.copyright a:hover {
  color: #e74c3c;
  text-decoration: none;
}
