.header {
  z-index:999;
  position:relative;
  border-bottom:solid 2px #eee;
}

.header .navbar {
  margin: 0;
  min-height: inherit;
}

.header .navbar-default {
  border: none;
  background: none;
}

.header .navbar-collapse {
  position: relative;
}

.header .navbar-default .navbar-nav > li > a {
  color: #687074;
  font-size: 15px;
  font-weight:400;
  padding: 9px 20px;
  text-transform: uppercase;
}

.header .navbar-default .navbar-nav > .active > a {
  color: #e74c3c;
}

.header .navbar-default .navbar-header{
  position: relative;
  z-index: 1;
}

/*Responsive @Media
------------------------------------*/
@media (min-width: 767px) {
  .header .navbar-nav {
    top: 2px;
    margin-top: 10px;
    position: relative;
  }

  .header .navbar-default .navbar-nav > li > a,
  .header .navbar-default .navbar-nav > li > a:focus {
    border-bottom: solid 2px transparent;
  }

  .header .navbar-default .navbar-nav > li > a:hover,
  .header .navbar-default .navbar-nav > .active > a {
    border-bottom: solid 2px #e74c3c;
  }

  .header .navbar-default .navbar-nav > li > a,
  .header .navbar-default .navbar-nav > li > a:hover,
  .header .navbar-default .navbar-nav > li > a:focus,
  .header .navbar-default .navbar-nav > .active > a,
  .header .navbar-default .navbar-nav > .active > a:hover,
  .header .navbar-default .navbar-nav > .active > a:focus {
    background: none;
  }

  .header .navbar-default .navbar-nav > .open > a,
  .header .navbar-default .navbar-nav > .open > a:hover,
  .header .navbar-default .navbar-nav > .open > a:focus {
    color: #72c02c;
  }
}
