/*Reset Styles
------------------------------------*/
* {
  border-radius: 0 !important;
}

body {
  color: #333;
  font-size: 13px;
  line-height: 1.6;
}

p, a, li {
  color: #555;
  line-height: 1.6;
}

a {
  outline: 0 !important;
  &:focus, &:hover, &:active {
    outline: 0 !important;
  }
  &:hover {
    color: #72c02c;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5 {
  margin-top: 5px;
  text-shadow: none;
  font-weight: normal !important;
  font-family: 'Open Sans', sans-serif;
}

h1 i, h2 i, h3 i, h4 i, h5 i {
  margin-right: 7px;
}

img.img-circle {
  border-radius: 50% !important;
}

.text-justify p {
  text-align: justify;
}

@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*Spaces*/
.margin-bottom-5,
.margin-bottom-10,
.margin-bottom-20,
.margin-bottom-20,
.margin-bottom-25,
.margin-bottom-30,
.margin-bottom-35,
.margin-bottom-40,
.margin-bottom-50,
.margin-bottom-60 {
  clear:both;
}
.margin-bottom-5 {
  margin-bottom:5px;
}
.margin-bottom-10 {
  margin-bottom:10px;
}
.margin-bottom-20 {
  margin-bottom:20px;
}
.margin-bottom-25 {
  margin-bottom:25px;
}
.margin-bottom-30 {
  margin-bottom:30px;
}
.margin-bottom-35 {
  margin-bottom:35px;
}
.margin-bottom-40 {
  margin-bottom:40px;
}
.margin-bottom-50 {
  margin-bottom:50px;
}
.margin-bottom-60 {
  margin-bottom:60px;
}

/*Block Headline*/
.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.headline h2,
.headline h3,
.headline h4 {
  color: #585f69;
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #72c02c;
}
.headline h2 {
  font-size: 23px;
}

.headline-md h2 {
  font-size: 21px;
}

.headline-md {
  margin-bottom: 15px;
}

/* Make Font Awesome icons fixed width */
li [class^="icon-"],
li [class*=" icon-"] {
  width: 1.25em;
  text-align: center;
  display: inline-block;
}
li [class^="icon-"].icon-lg,
li [class*=" icon-"].icon-lg {
  /* increased fonts size for icon-lg */
  width: 1.5625em;
}
