body {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

h3 {
  color: #72c02c;
}

p {
  margin: 0 0 20px;
}

.row {
  margin-bottom: 40px;
}

.no-left-gutter {
  padding-left: 0;
}
